.website-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.website-cart-interface {
    display: grid;
    grid-template-columns: 65% 35%;
    margin: 20px 20px 850px 20px;
}

.website-interface-left-side {
    margin-right: 20px;
}

.website-cart-title, .website-cart-detail {
    display: grid;
    grid-template-columns: 50% 12.5% 12.5% 12.5% 12.5%;
}

.website-cart-title {
    background-color: #EBDDC6;
    box-shadow: 5px 5px #e8d4b4;
    padding: 20px 0 20px 0;
    margin-bottom: 15px;
    border-radius: 25px;
}

#product, #price, #quantity, #total,
#payment-detail {
    justify-self: center;
    font-size: 24px;
}

.website-cart-detail {
    height: 120px;
    background-color: #EBDDC6;
    box-shadow: 5px 5px #e8d4b4;
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 25px;
}

.website-cart-product-detail {
    display: flex;
}

.website-cart-product-image {
    width: 120px;
}

.cart-product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.website-cart-product-image, .cart-product-name, 
.cart-product-price, .cart-product-quantity, 
.cart-product-total-price, .cart-product-delete {
    align-self: center;
    font-size: 20px;
}

.cart-product-price, .cart-product-quantity,
.cart-product-total-price, .cart-product-delete  {
    justify-self: center;
}

.btn-delete {
    background-color: #eab099;
    color: #5D4037;
    font-family: Momo Trust Display, Arial, sans-serif;
    font-size: 20px;
    width: 120px;
    padding: 10px 10px;
    border-radius: 50px;
    transition: background-color 0.5s, color 0.5s, opacity 0.2s, scale 0.2s;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #9e7869;
    color: #35231e;
}

.btn-delete:active {
    opacity: 0.7;
    scale: 85%;
}



