.cart-payment-total-price, .cart-payment-discount-percentage,
.cart-payment-total-discounted-price, .cart-payment-final-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 16px;
}

#payment-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #EBDDC6;
    box-shadow: 5px 5px #e8d4b4;
    padding: 20px 0 20px 0;
    margin-bottom: 15px;
    border-radius: 25px;
}

.cart-payment-description {
    background-color: #EBDDC6;
    box-shadow: 5px 5px #e8d4b4;
    padding: 20px 20px 10px 20px;
    border-radius: 25px;
}

.cart-payment-checkout {
    display: flex;
    justify-content: center;
}

.btn-checkout {
    background-color: #eab099;
    color: #5D4037;
    font-family: Momo Trust Display, Arial, sans-serif;
    font-size: 16px;
    width: 220px;
    padding: 10px 10px;
    border-radius: 50px;
    transition: background-color 0.5s, color 0.5s, opacity 0.2s, scale 0.2s;
    cursor: pointer;
}

.btn-checkout:hover {
    background-color: #9e7869;
    color: #35231e;
}

.btn-checkout:active {
    opacity: 0.7;
    scale: 85%;
}


